body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
  padding-top: 60px;
}

.fixed-header {
  background-color: rgb(5, 94, 94);
  height: 50px;
  color: white;
  text-align: center;
  line-height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.fixed-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  border: none;
}
