.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 10vw;
  gap: 4px;
}

.image-container {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

/* Define how images should span the columns and rows */
.image-1 {
  grid-column: span 6;
  grid-row: span 4;
}
.image-2 {
  grid-column: span 3;
  grid-row: span 2;
}
.image-3 {
  grid-column: span 3;
  grid-row: span 2;
}
.image-4 {
  grid-column: span 3;
  grid-row: span 2;
}
.image-5 {
  grid-column: span 3;
  grid-row: span 4;
}
.image-6 {
  grid-column: span 6;
  grid-row: span 4;
}
/* Add more classes for additional images if needed */

.image-container:hover {
  transform: scale(1.03);
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will cover the area, change to 'contain' if you don't want images to be cropped */
  border-radius: 8px;
}

.lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  user-select: none;
}

.lightbox-image {
  max-width: 80%;
  max-height: 80%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Responsive adjustments */
@media screen and (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(8, 1fr);
  }
  /* Adjust the image spans for 8-column layout */
}

@media screen and (max-width: 800px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 10vw; /* Adjust row height */
  }
  /* Adjust the image spans for 4-column layout */
}

@media screen and (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 20vw; /* Adjust row height */
  }
  /* All images take full width on smaller screens */
  .image-1,
  .image-2,
  .image-3,
  .image-4,
  .image-5,
  .image-6 {
    grid-column: span 2;
  }
}

@media screen and (max-width: 400px) {
  .gallery {
    grid-template-columns: 1fr;
    grid-auto-rows: 30vw; /* Adjust row height */
  }
  /* All images take full width on very small screens */
  .image-1,
  .image-2,
  .image-3,
  .image-4,
  .image-5,
  .image-6 {
    grid-column: 1 / -1;
  }
}
