<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>File Upload</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Upload your file</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" required />
      <button type="submit">Upload File</button>
    </form>
  </body>
</html>
