<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Galleries</title>
    <link rel="stylesheet" href="/css/gallery.css" />
  </head>

  <body>
    <header>
      <h1>Image Galleries</h1>
    </header>

    <div class="gallery-section">
      <h2 class="gallery-title">Gallery 2</h2>
      <div class="gallery">
        <div class="image-container">
          <img src="/images/butterfly-8095032_640.jpg" alt="Image 1" />
        </div>
        <div class="image-container">
          <img src="/images/lotus-1205631_640.jpg" alt="Image 2" />
        </div>
        <div class="image-container">
          <img src="/images/poppies-174276_640.jpg" alt="Image 2" />
        </div>
      </div>
    </div>

    <!-- Add more galleries here -->
  </body>
</html>
