body {
  background-color: #f6f6f6;
  padding: 20px;
}

.blog-post {
  background-color: #fff;
  width: 80%;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Individul sides */
/* margin-top: 10px;
margin-right: 20px;
margin-bottom: 30px;
margin-left: 40px; */
