/* base styles */
.box {
  width: 100%;
  height: 200px;
}

@media screen and (orientation: landscape) {
  .box {
    background-color: red;
    color: yellow;
    font-size: 100px;
  }
}
@media screen and (orientation: portrait) {
  .box {
    background-color: green;
    color: white;
    font-size: 60px;
  }
}
