<%- include('partials/header', { title: title, user: user }) %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="display-4 text-danger">Something went wrong</h1>
      <p class="lead text-danger"><%= error %></p>
      <a href="/" class="btn btn-primary">Go Home</a>
    </div>
  </div>
</div>
