/* Flex container */
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 300px;
  border: 4px solid #5acf0c;
  color: white;
  background-color: rgb(0, 4, 4);
}

/* Base styles for flex items */
.item {
  height: 50px;
  flex-basis: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  margin: 5px;
}

/* Item 1 */
.item1 {
  background-color: red;
  flex-grow: 2;
  align-self: flex-end;
}

/* Item 2 */
.item2 {
  background-color: orange;
  flex-grow: 1;
  flex-shrink: 2;
}

/* Item 3 */
.item3 {
  background-color: green;
  flex-grow: 1;
  align-self: center;
}

/* Item 4 */
.item4 {
  background-color: purple;
  flex-grow: 1;
  align-self: flex-end;
}

/* Item 5 */
.item5 {
  background-color: yellow;
  flex-grow: 1;
}
