/* Global styles */
body,
h1,
p,
a {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Flex container */
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Header */
header {
  background-color: #2c3e50;
  color: white;
  width: 100%;
}
/* Navbar */
nav {
  display: flex;
  flex-direction: row;
}

nav a {
  color: white;
  padding: 8px;
  text-decoration: none;
  border-radius: 4px;
}
nav a:hover {
  background-color: white;
  color: black;
}

/* About me */
.about-me {
  flex-direction: row;
  justify-content: center;
}

.about-me img {
  max-width: 200px;
  margin-right: 20px;
  width: 150px;
  height: 150px;
}

/* Skills */
.skills {
  width: 100px;
  background-color: #ecf0f1;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.skill {
  width: 100px;
  text-align: center;
  margin: 15px;
  background-color: #3498db;
  color: white;
  padding: 10px;
  border-radius: 4px;
}

/* Project */
.projects {
  flex-direction: row;
  justify-content: center;
  background-color: #e67e22;
  padding: 20px;
}
.project {
  width: 30%;
  margin: 10px;
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 4px;
}

.project img {
  max-width: 100%;
}
.project-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.contact {
  background-color: #16a085;
  color: white;
  text-align: center;
  padding: 20px;
}

footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
  padding: 15px 0;
}
