/* Reset some default browser styles */
body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  background-color: #f0f1f6;
  padding: 40px 0;
  color: #333;
}

main {
  flex-grow: 1;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

input[type="text"] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 12px 0 0 12px;
  font-size: 1em;
  width: auto;
  margin-right: -1px;
}
button {
  background-color: #4a90e3;
  color: #ffff;
  border: none;
  border-radius: 0 12px 12px 0;
  padding: 13px 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #035dcb;
}

/* Weather content */
.weather-display {
  text-align: center;
  padding: 20px;
}

.temp-display,
.condition-display {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.condition-info span {
  margin-right: 15px;
  font-size: 1.2em;
}

#loading,
#error {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
}
#loading {
  color: #4a90e3;
}
#error {
  color: red;
}
footer {
  text-align: center;
  background-color: #035dcb;
  color: #ffff;
  padding: 12px 0;
  border-top: 1px solid #333;
  font-size: 0.9em;
}
