<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rendering Assets with Express.js</title>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/contact.css" />
    <link rel="stylesheet" href="/css/about.css" />
    <link rel="stylesheet" href="/css/gallery.css" />
  </head>

  <body>
    <header>
      <h1>Rendering Assets with Express.js</h1>
      <nav>
        <a href="/gallery">Gallery</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact</a>
      </nav>
    </header>

    <main><%-body%></main>

    <footer>
      <p>&copy; 2024 Masynctech</p>
    </footer>

    <script src="../js/script.js"></script>
  </body>
</html>
