body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  margin: 0px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.content-box {
  background-color: #ffffff;
  width: 300px;
  border: 1px solid #d3d3d3;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 18px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border-bottom: 2px solid #eeeeee;
}

.description {
  font-size: 14px;
  color: #666;
  margin: 0 10px 10px;
  padding: 10px;
}

.action-btn {
  display: block;
  width: 100px;
  margin: 10px auto;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  cursor: pointer;
}
.action-btn:hover {
  background-color: #0056b3;
}
